{%- if card_product and card_product != empty -%}
  
  <a href="{{ card_product.url }}" class="card-wrapper  group block relative bg-white ">
    <div class="card">
      {% if card_product.featured_media %}
        <div class="card_image h-[350px] relative overflow-hidden">
          <div class="absolute inset-0">
            {{ card_product.featured_media | image_url: width: 500, height: 500 | image_tag: loading: 'lazy', class: 'rounded-xl object-cover h-full w-full' }}
          </div>
          {% if card_product.media[1] != blank and show_secondary_image %}
            <div class="absolute inset-0 hidden group-hover:block">
              {{ card_product.media[1] | image_url: width: 500, height: 500 | image_tag: loading: 'lazy', class: 'rounded-xl object-cover h-full w-full' }}
            </div>
          {% endif %}
        </div>
      {% else %}
        <div class="card_image">
          {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% endif %}
    
      <h3 class="card__title mt-4 p-2 text-black text-xl text-center">
        {{ card_product.title }}
      </h3>
    
      {% render 'price-element', product: card_product, class: 'px-2 pb-2 text-center' %}
    </div>
    
  </a>
{%- else -%}
  <div class="card-wrapper border group">
    <div class="card">
      <div class="card_image">
        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>

      <h3 class="card__title p-2">Product Title</h3>

      <div class="price__element px-2 pb-2 text-gray-600">
        <div class="price__element-normal">$0.00</div>
      </div>
    </div>
  </div>
{%- endif -%}
