<div class="container w-full max-w-screen-xl mx-auto px-4 py-10">
  <!-- Section: Design Block -->
  <section class="mb-15">
    <div class="flex">
      <div class="text-center md:max-w-xl lg:max-w-3xl">
        <h1 class="mb-5 text-3xl font-bold">{{ page.title }}</h1>
      </div>
      
    </div>
    <div class="prose max-w-2xl mb-8">
      {{ page.content }}
    </div>
    <div class="flex flex-wrap">
      <div class="mb-12 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:w-5/12 ">
        {% form 'contact' %}
          {% if form.errors %}
            <div class="mb-4 text-red-500">
              <p>{{ 'general.contact_page.contact_error' | t }}</p>
            </div>
          {% endif %}
      
          <div class="mb-4">
            <label for="email" class="block text-sm font-semibold text-gray-600">{{ 'blogs.article.email' | t }}</label>
            <input type="email" name="contact[email]" id="email" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" required>
          </div>
      
          <div class="mb-4">
            <label for="message" class="block text-sm font-semibold text-gray-600">{{ 'blogs.article.message' | t }}</label>
            <textarea name="contact[body]" id="message" rows="4" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" required></textarea>
          </div>
      
          <div class="mb-8">
            <button type="submit" class="bg-[#201E20] text-white py-2 px-4 rounded-md hover:bg-black focus:outline-none focus:shadow-outline-black active:bg-black">
              {{ 'general.contact_page.btn_text' | t }}
            </button>
          </div>
      
          {% if form.posted_successfully? %}
            <div class="mb-4 text-green-500">
              <p>{{ 'general.contact_page.contact_sucess' | t }}</p>
            </div>
          {% endif %}
        {% endform %}
      </div>
      <div class="w-full shrink-0 grow-0 basis-auto lg:w-7/12 mt-5">
        <div class="flex flex-wrap" id="contactBlocks">

        
          {% for block in section.blocks %}
            {% assign data = block.settings %}
            {% if data.heading or data.email or data.phone %}
              <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-6/12 md:px-3 lg:px-6">
                <div class="flex items-start">
                  <div class="shrink-0">
                    <div class="inline-block rounded-md bg-[#201E20] p-4 text-primary">
                      {% render 'icon-display', icon: block.settings.icon %}
                    </div>
                  </div>
                  <div class="ml-6 grow">
                    {% if data.heading %}
                      <p class="mb-2 font-bold">{{ data.heading }}</p>
                    {% endif %}
                    {% if data.email %}
                      <p class="text-neutral-500">{{ data.email }}</p>
                    {% endif %}
                    {% if data.phone %}
                      <p class="text-neutral-500">{{ data.phone }}</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
</div>
{% schema %}
{
	"name": "contact_form",
	"tag": "section",
  "max_blocks": 4,
	"blocks": [
		{
			"name": "Technical support",
			"type": "text",
			"settings": [
        {
					"type": "text",
					"id": "heading",
					"label": "Heading"
				},
				{
					"type": "text",
					"id": "email",
					"label": "Email"
				},
				{
					"type": "text",
					"id": "phone",
					"label": "Phone"
				},
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
            }
          ],
          "default": "question_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        }
			]
		}
	]
}
{% endschema %}
