{% paginate collections by 10 %}
  <div class="text-center p-10">
    <h1 class="font-bold text-3xl">{{ 'general.shop_by_cat' | t }}</h1>
  </div>
  <div class="container w-full max-w-screen-xl mx-auto mb-10 px-4">
    <section
      id="collections"
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-y-10 gap-x-8"
    >
      {% for collection in collections %}
        {% if collection.products_count > 0 %}
          <div class="w-full  bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
            <a href="{{ collection.url }}">
              {% if collection.featured_image %}
                <div class="h-[300px] overflow-hidden relative">
                  <div class="absolute inset-0">
                    {{
                      collection.featured_image
                      | image_url: width: 500
                      | image_tag: loading: 'lazy', class: 'rounded-xl object-cover h-full w-full'
                    }}
                  </div>
                </div>
              {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
              <div class="px-4 py-3">
                <p class="text-lg font-bold text-black truncate block capitalize">{{ collection.title }}</p>
                <div class="flex items-center">
                  <p class="text-lg font-semibold text-black cursor-auto my-3">
                    <p>Product Count: {{ collection.products_count }}</p>
                  </p>
                </div>
              </div>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </section>
  </div>
  <div class="pagination-wrapper pb-5">
    {% render 'pagination', paginate: paginate %}
  </div>
{% endpaginate %}
